{% extends './base.html' %}
{% load static %}
{% block content %}
<div class="d-flex justify-content-center vh-100 vw-100">
<div class="card shadow-lg rounded-4 mt-2" style="background-color: aliceblue; width: 98%; height: 98%;">
    <nav class="navbar navbar-expand-lg bg-body-tertiary rounded-4" style="border: 1px solid rgba(0, 0, 0, 0.175);">
        <div class="container-fluid">
            <img src="{% static 'H.png' %}" style="width: 70px;"/>
            <a class="navbar-brand" href="#">Hospital</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Dropdown
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                </li>
              </ul>
              <div class="d-flex flex-row" role="search">
                <img class="rounded-circle" src="{% static 'foto.jpg' %}" style="width: 70px; height: 70px;"/>
                <div class="d-flex flex-column ms-2 justify-content-center">
                    <h5 class="mb-16">Dr. Juriscleison da Silva</h5>
                    <h6>Local: Hospital Especializado em Hospitalização - HEH</h6>
                </div>
              </div>
            </div>
          </div>
    </nav>
    <div class="card rounded-4 mt-2" style="background-color: white; height: 100%;">
        <div class="container-xl p-3">
        <a href="#" class="card shadow text-decoration-none" style="width: 12rem;">
            <div class="card-body d-flex flex-column align-items-center">
                <img src="{% static 'cadastro.png' %}" style="width: 70px;"/>
              <h5 class="card-title mt-2">Card title</h5>
            </div>
        </a>
        </div>
    </div>
</div>
</div>
{% endblock %}